
[Desktop Entry]
Type=Application
Version=0.1
Name=Ridual
Comment=Ridual file manager
Icon=/opt/extras.ubuntu.com/ridual/data/ridual.svg
Exec=/opt/extras.ubuntu.com/ridual/ridual
Path=/opt/extras.ubuntu.com/ridual
Categories=System;Filesystem;Utility;

Name[en_US]=Ridual

