
[Desktop Entry]
Type=Application
Version=0.1
Name=Ridual
Comment=Ridual file manager
Icon=/usr/share/ridual/data/ridual.svg
Exec=/usr/bin/ridual
Categories=System;Filesystem;Utility;

