Source: ridual
Section: devel
Priority: extra
Maintainer: Pavel Strakhov <ri@idzaaus.org>
Build-Depends: debhelper (>= 7.4.0), cdbs (>= 0.3.0), libqt4-dev (>= 4.5.0), qt4-qmake (>= 4.5.0), pkg-config (>= 0.22), libglib2.0-dev (>= 2.20.0), libgtk2.0-dev (>= 2.20.0)
Standards-Version: 3.9.3
Homepage: https://github.com/Riateche/ridual
#Vcs-Git: git://git.debian.org/collab-maint/ridual.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ridual.git;a=summary

Package: ridual
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnome-icon-theme-full
Description: Dual-pane file manager
 Ridual is dual-pane file manager for Ubuntu. Details can be found on
 https://github.com/Riateche/ridual
